/*================================
  Primary Blue: #1d68ff
  ================================*/
   
/* ===== GENERAL===== */

body {
  padding: 0px;
  margin: 0px;
}
.sl-center {
  text-align: center;
}
.h1 {
  font-size: 48px;
}
/*
.h1, .h2, .h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
*/
.sl-absolute-center {
  position: absolute;
  /*width: 80%;*/
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.sl-regular-weight {
  font-weight: 400 !important;
}
.sl-blue {
  color: #1d68ff;
}
.sl-blue-bg {
  background-color: #1d68ff;
}
.sl-white-bg {
  background-color: white;
}

/* ===== Carousel ===== */

.carousel {
  color: white;
}
.sl-page {
  min-height: 640px;
  width: 100vw;
  height: 100vh;
  background: rgba(29,104,255,1);
  background: -moz-linear-gradient(-45deg, rgba(29,104,255,1) 0%, rgba(29,144,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(29,104,255,1)), color-stop(100%, rgba(29,144,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(29,104,255,1) 0%, rgba(29,144,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(29,104,255,1) 0%, rgba(29,144,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(29,104,255,1) 0%, rgba(29,144,255,1) 100%);
  background: linear-gradient(135deg, rgba(29,104,255,1) 0%, rgba(29,144,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d68ff', endColorstr='#1d90ff', GradientType=1 );
}
#page-1 {
  background-image: url("images/trump.png");
  background-size: cover;
  background-position: center center;
}
#page-2 {
  background-image: url("images/yellow.jpg");
  background-size: cover;
  background-position: center center;
}
.sl-phone {
  height: 395px;
  width: 196px;
  border-radius: 28px;
  border: 3px solid white;
  position: relative;
}
.sl-color-phone {
  background-color: white;
  border: 3px solid #1d68ff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.sl-screen {
  width: 90%;
  height: 78%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 3px solid white;
}
.sl-color-screen {
  background-color: white;
  border: 2px solid #888;
}
.sl-home-btn {
  border: 3px solid white;
  border-radius: 4vh;
  width: 4vh;
  height: 4vh;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.sl-color-home-btn {
  border: 3px solid #1d90ff;
}
.sl-screen-row {
  border-bottom: 3px solid white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0px;
}
.sl-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 16vh;
}
.sl-logo {
  text-align: center;
  width: 120px;
}
.sl-slogan {
  text-align: center;
  color: white;
  margin-top: 12px;
}
.carousel-indicators {
  bottom: 10vh;
}
.sl-carousel-content {
  height: 60vh;
  max-width: 50%;
  text-align: center;
  position: relative;
  /* border: 5px solid white;*/ /*rgba(29,104,255,1);*/
  /* background-color: rgba(0,0,0,0.1); */
}
.sl-carousel-control {
  background-image: none !important;
  text-shadow: none !important;
}
.sl-carousel-control-icon {
  position: absolute;
  top: 50%;
}
.sl-carousel-scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* ===== PAGE ===== */

.sl-container {
  height: 100vh;
  min-height: 640px;
  width: 80%;
  max-width: 400px;
  position: relative;
}
.sl-content {
  width: 100%;
}
.sl-email {
  width: 80%;
  border: 3px solid #1d68ff;
  line-height: 45px;
  height: 45px;
}